<h1><%= @user.first_name %>'s profile</h1>

<p>First name : <%= @user.first_name %></p>
<p>Last name : <%= @user.last_name %></p>
<p>Email : <%= @user.email %></p>
<p>Tel : <%= @user.telephone %></p>
